<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Footer</title>
</head>
<body>
<div th:fragment="footerFragment">
  <footer class="footer">
    <div class="footerContent">
      <div class="footerLogo">🎣 FishTrip</div>
      <div class="footerLinks">
        <a href="/about">회사소개</a>
        <a href="/terms">이용약관</a>
        <a href="/privacy">개인정보처리방침</a>
        <a href="/contact">문의하기</a>
      </div>
      <div class="footerCopyright">
        © 2025 FishTrip. All rights reserved.
      </div>
    </div>
  </footer>
</div>
</body>
</html>
