<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <script>
        function navigatePage(path) {
            window.location.href = path;
        }
    </script>
</head>
<body>
<div th:fragment="headerFragment">
    <header class="header">
        <div class="logoArea">
            <a href="/" class="logoText">🎣 FishTrip</a>
        </div>

        <div class="searchBoxWrapper">
            <form th:action="@{/search}" method="get" class="searchForm">
                <input type="text" name="keyword" placeholder="검색어를 입력하세요..." class="searchInput" />
                <button type="submit" class="searchButton" aria-label="검색">🔍</button>
            </form>
        </div>

        <div class="rightIcons">
            <button class="iconButton" onclick="navigatePage('/profile')">
                <span>👤</span>
                <div class="iconLabel">내정보</div>
            </button>
        </div>
    </header>

    <nav class="navBar">
        <div class="navLeft">
            <span class="menuIcon" onclick="toggleMenu()">☰</span>
            <ul class="menuList">
                <li class="menuItem" onmouseenter="showSubMenu(0)" onmouseleave="hideSubMenu(0)">
                    <button class="menuButton">예약하기</button>
                    <div class="subMenu" id="subMenu0" style="display: none;">
                        <ul class="subMenuList">
                            <li class="subMenuItem">
                                <a th:href="@{/reservation}" class="subMenuButton">예약하기</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="menuItem" onmouseenter="showSubMenu(1)" onmouseleave="hideSubMenu(1)">
                    <button class="menuButton">낚시파티모집</button>
                    <div class="subMenu" id="subMenu1" style="display: none;">
                        <ul class="subMenuList">
                            <a th:href="@{/party/create}" class="subMenuButton">파티모집글 작성하기</a>
                        </ul>
                    </div>
                </li>
                <li class="menuItem" onmouseenter="showSubMenu(2)" onmouseleave="hideSubMenu(2)">
                    <button class="menuButton">지금 모집중!</button>
                    <div class="subMenu" id="subMenu2" style="display: none;">
                        <ul class="subMenuList">
                            <li class="subMenuItem"><a href="#" class="subMenuButton" onclick="navigatePage('/recruiting/ongoing')">모집 1</a></li>
                            <li class="subMenuItem"><a href="#" class="subMenuButton" onclick="navigatePage('/recruiting/popular')">모집 2</a></li>
                        </ul>
                    </div>
                </li>
                <li class="menuItem" onmouseenter="showSubMenu(3)" onmouseleave="hideSubMenu(3)">
                    <button class="menuButton">계획짜기!</button>
                    <div class="subMenu" id="subMenu3" style="display: none;">
                        <ul class="subMenuList">
                            <li class="subMenuItem"><a href="#" class="subMenuButton" onclick="navigatePage('/plan/new')">계획 1</a></li>
                            <li class="subMenuItem"><a href="#" class="subMenuButton" onclick="navigatePage('/plan/my-plans')">계획 2</a></li>
                        </ul>
                    </div>
                </li>
                <li class="menuItem" onmouseenter="showSubMenu(4)" onmouseleave="hideSubMenu(4)">
                    <button class="menuButton">날씨/풍속/조류!</button>
                    <div class="subMenu" id="subMenu4" style="display: none;">
                        <ul class="subMenuList">
                            <li class="subMenuItem"><a href="#" class="subMenuButton" onclick="navigatePage('/weather')">해양날씨</a></li>
                        </ul>
                    </div>
                </li>
                <li class="menuItem" onmouseenter="showSubMenu(5)" onmouseleave="hideSubMenu(5)">
                    <button class="menuButton">커뮤니티</button>
                    <div class="subMenu" id="subMenu5" style="display: none;">
                        <ul class="subMenuList">
                            <li class="subMenuItem"><a th:href="@{/posts}" class="subMenuButton">전체 게시판</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>

        <div class="navRight">
            <div sec:authorize="hasRole('OWNER')">
                <button class="menuButton" onclick="navigatePage('/reservation/write')">예약글 작성(사업자용)</button>
            </div>

            <div sec:authorize="isAuthenticated()">
                <form th:action="@{/logout}" method="post" style="display:inline;">
                    <button type="submit" class="menuButton">로그아웃</button>
                </form>
            </div>

            <div sec:authorize="isAnonymous()">
                <a th:href="@{/login}" class="menuButton" style="text-decoration: none; margin-right: 10px;">로그인</a>
                <a th:href="@{/join/oauth}" class="menuButton" style="text-decoration: none;">회원가입</a>
            </div>
        </div>
    </nav>

    <div class="fullMenuBox" style="display: none;"></div>
</div>
</body>
</html>
