<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}">FishTrip</title>
    <link rel="stylesheet" th:href="@{/css/MainPage.css}">
    <link rel="stylesheet" th:href="@{/css/Header.css}">
    <link rel="stylesheet" th:href="@{/css/LoginModal.css}">
    <script th:src="@{/js/common.js}"></script>
</head>
<body>
<div class="container">
    <div th:replace="fragments/header :: headerFragment"></div>
    <main th:replace="${content}"></main>
    <div th:replace="fragments/footer :: footer"></div>
</div>
</body>
</html>
