<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>대한민국 해역 선택</title>
  <link rel="stylesheet" href="/css/weather.css">
  <script defer src="/js/koreaMap.js"></script>
</head>
<body>

<div class="mainWrapper">

  <div class="koreaMapSection">
    <div class="mapCard">
      <img src="/image/koreaMap.png" alt="입체 대한민국 지도" class="koreaMapImage" />

      <div class="mapOverlay"></div>
    </div>
  </div>


  <div id="allRegionWeather" class="weatherGrid"></div>
</div>


<div id="weatherStatus"
     style="display: none;
            position: fixed;
            top: 20px;
            left: 50%;
            transform: translateX(-50%);
            background-color: rgba(0, 0, 0, 0.85);
            color: #fff;
            padding: 10px 20px;
            border-radius: 10px;
            font-weight: bold;
            z-index: 999;">
</div>

</body>
</html>
