<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>대한민국 해역 선택</title>
  <link rel="stylesheet" href="/css/koreaMap.css">
  <script src="/js/koreaMap.js" defer></script>
</head>
<body>
<div class="koreaMapSection">
  <div class="mapCard">
    <img src="/image/koreaMap.png" alt="입체 대한민국 지도HTML" class="koreaMapImage" />
    <div class="mapOverlay">
      <button class="mapRegionButton region-0" onclick="selectRegion('서해북부')">서해북부</button>
      <button class="mapRegionButton region-1" onclick="selectRegion('서해중부')">서해중부</button>
      <button class="mapRegionButton region-2" onclick="selectRegion('서해남부')">서해남부</button>
      <button class="mapRegionButton region-3" onclick="selectRegion('남해서부')">남해서부</button>
      <button class="mapRegionButton region-4" onclick="selectRegion('제주도')">제주도</button>
      <button class="mapRegionButton region-5" onclick="selectRegion('남해동부')">남해동부</button>
      <button class="mapRegionButton region-6" onclick="selectRegion('동해남부')">동해남부</button>
      <button class="mapRegionButton region-7" onclick="selectRegion('동해중부')">동해중부</button>
      <button class="mapRegionButton region-8" onclick="selectRegion('동해북부')">동해북부</button>
    </div>
  </div>
</div>
</body>
</html>
